.skillsPage {
  background-image: var(--third-gradient);
  padding-bottom: 200px;
}

.skillsContainer {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 70px;
}

.skillsTitle,
.skillsDescription {
  padding-inline: 30px;
}

.skillsTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.skillsName {
  font-size: var(--largest-font-size);
}

.skillsNumber {
  color: var(--title-color);
  font-weight: 700;
}

.skillsNumber span {
  color: var(--primary-color);
}

.skillsDescription {
  margin-bottom: 30px;
}

.skillsBar,
.skillsPercentage {
  height: 2px;
}

.skillsBar {
  background-color: rgba(255, 255, 255, 0.2);
}

.skillsPercentage {
  display: block;
  background-color: var(--primary-color);
  position: relative;
}

.skillsPercentage span {
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  box-shadow: var(--shadow);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: -12px;
}
