.resumePage {
  background-image: var(--second-gradient);
  padding-top: 270px;
}

.resumeContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.heading {
  text-align: center;
  font-size: var(--h4-font-size);
  padding-bottom: 30px;
}

.heading,
.resumeItem {
  border-bottom: 2px solid var(--border-color);
}

.resumeItem:not(:first-child) {
  border-right: 2px solid var(--border-color);
}

.resumeItem {
  position: relative;
}

.resumeHeader {
  padding: 32px 30px;
}

.resumeSubtitle {
  font-size: var(--largest-font-size);
  cursor: pointer;
}

.resumeIcon {
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  font-size: var(--h2-font-size);
  box-shadow: var(--shadow);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  line-height: 1.3em;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: -20px;
  bottom: -24px;
  z-index: 10;
  transition: all 1.2s var(--transition);
}

.resumeContent {
  padding-inline: 30px 50px;
  max-height: 0;
  overflow: hidden;
  transition: all 1s ease 0s;
}

.showContent {
  max-height: 500px;
}

.dateTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: var(--second-font);
  font-size: var(--h3-font-size);
}

.date {
  color: var(--title-color);
  font-size: var(--tiny-font-size);
  font-weight: 700;
  text-transform: uppercase;
}

.description {
  margin-block: 20px 30px;
}

@media screen and (max-width: 1378px) {
  .resumePage {
    padding-right: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .resumePage {
    padding-top: 140px;
    padding-right: 0;
  }
}

@media screen and (max-width: 1020px) {
  .resumePage {
    padding-right: 10px;
  }
}

@media screen and (max-width: 960px) {
  .resumeContainer {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .resumeIcon {
    width: 40px;
    height: 40px;
  }
}
