.home {
  background-color: var(--bg-color-alt);
  min-height: 100vh;
  display: grid;
  align-items: center;
}

.homeContainer {
  width: 100%;
}

.subTitle,
.job {
  font-weight: 700;
}

.subTitle,
.job span {
  font-size: var(--small-font-size);
}

.subTitle span,
.title span {
  color: var(--primary-color);
}

.job b {
  font-family: var(--second-font);
  font-size: var(--h2-font-size);
  margin-left: 10px;
}

.title {
  font-size: var(--biggest-font-size);
  line-height: 1.2;
  margin-top: 15px;
  text-shadow: 2px 2px hsl(0, 0%, 0%), -2px 2px hsl(0, 0%, 0%),
    2px -2px hsl(0, 0%, 0%), -2px 2px hsl(0, 0%, 0%), 5px 5px 0 rgb(0 0 0/20%);
}

.text {
  font-size: var(--large-font-size);
  margin-block: 40px 28px;
  max-width: 520px;
}

.socials {
  display: flex;
  column-gap: 20px;
  margin-bottom: 30px;
}

.socialLink {
  color: var(--title-color);
  font-size: var(--h5-font-size);
  transition: all 0.7s var(--transition);
}

.socialLink:hover {
  color: var(--primary-color);
}

.btnsContainer {
  display: flex;
  column-gap: 70px;
}
