.contactPage {
  padding-top: 270px;
  background-image: var(--first-gradient);
}

.contactContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-template-columns: 5fr 7fr;
  align-items: center;
}

.contactCard {
  padding-left: 130px;
  margin-bottom: 40px;
  position: relative;
}

.contactIcon,
.formInput {
  border: 2px solid var(--border-color);
  background-color: var(--container-color);
}

.contactIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: var(--shadow);
  font-size: var(--larger-font-size);
  display: grid;
  place-items: center;
}

.contactIcon::after {
  content: "";
  width: 40px;
  height: 2px;
  background-color: var(--border-color);
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -1px;
}

.cardTitle {
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  padding-block: 6px;
}

.formGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.formDiv {
  display: grid;
  row-gap: 10px;
  margin-bottom: 30px;
}

.formTag {
  margin-left: 30px;
  font-size: var(--smaller-font-size);
  font-weight: 700;
  text-transform: uppercase;
}

.formTag b {
  color: var(--primary-color);
}

.formInput {
  color: var(--title-color);
  height: 60px;
  border-radius: 30px;
  padding-inline: 30px;
}

.formArea .formInput {
  height: 140px;
  padding-block: 20px;
  resize: none;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 30px;
}
