.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 30px;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.navLogo {
  color: var(--title-color);
  font-size: var(--h4-font-size);
  font-weight: 700;
}

.navMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  background-color: var(--bg-color-alt);
  z-index: 10;
  display: flex;
  transition: all 1s var(--transition);
}

.showMenu {
  width: 512px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: var(--bg-color-alt);
  z-index: 10;
  display: flex;

  transition: all 1s var(--transition);
}

.navData {
  padding: 80px 84px 0 154px;
  margin: auto;
  width: 100%;
}

.navList {
  margin-bottom: 40px;
}

.navList li {
  margin-bottom: 30px;
}

.navLink {
  color: var(--title-color);
  font-size: var(--h5-font-size);
  font-weight: 700;
  transition: all o.3s var(--transition);
  text-transform: uppercase;
}

.navLink:hover {
  color: var(--primary-color);
}

.socials {
  display: flex;
  column-gap: 20px;
  margin-bottom: 30px;
}

.socialLink {
  color: var(--title-color);
  font-size: var(--h5-font-size);
  transition: all 0.7s var(--transition);
}

.socialLink:hover {
  color: var(--primary-color);
}

.navBtns {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.themeToggle {
  font-size: var(--h4-font-size);
  display: flex;
  align-items: center;
}

.navToggle {
  height: 30px;
  width: 28px;
  position: relative;
  z-index: 100;
}

.themeToggle,
.navToggle {
  cursor: pointer;
}

.navToggle span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--title-color);
  transition: all 0.3s var(--transition);
}

.navToggle span:first-child {
  top: 8px;
}

.navToggle span:last-child {
  bottom: 8px;
}

.animatedToggle span:first-child {
  transform: rotate(-45deg);
  top: 14px;
}

.animatedToggle span:last-child {
  transform: rotate(45deg);
  bottom: 14px;
}
