/* RESET CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  margin: 0;
  background-color: var(--bg-color-alt);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button,
input,
body {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}
h1,
h2,
h3 {
  font-weight: 700;
  color: var(--title-color);
}
p {
  line-height: 1.7;
}
input,
textarea,
button {
  outline: none;
  border: none;
  background-color: transparent;
}
button {
  cursor: pointer;
}
img {
  max-width: 100%;
}
/* REUSABLE CSS CLASSES */
.container {
  max-width: 1300px;
  padding-inline: 12px;
  margin-inline: auto;
}

.btn,
.link {
  color: var(--title-color);
  font-size: var(--tiny-font-size);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  height: 55px;
  display: grid;
  place-items: center;
  position: relative;
}

.btn {
  border: 2px solid var(--border-color);
  padding-inline: 40px;
  border-radius: 56px;
  box-shadow: var(--shadow);
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  inset: 2px;
  background-color: var(--primary-color);
  border-radius: inherit;
  transform: scale(0.3);
  filter: blur(10px);
  opacity: 0;
  transition: all 0.7s var(--transition);
  z-index: -1;
}

.btn:hover::before {
  transform: scale(1);
  filter: blur(0);
  opacity: 1;
}

.link::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 40px;
  height: 2px;
  background-color: var(--border-color);
  left: -100%;
  transform: translateY(-50%);
}

.sectionTitle,
.sectionSubtitle {
  text-align: center;
}

.sectionTitle {
  font-size: var(--h1-font-size);
  text-transform: uppercase;
  margin-bottom: 15px;
}

.sectionSubtitle {
  color: var(--primary-color);
  font-size: var(--smaller-font-size);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 65px;
  display: block;
}

.sectionSubtitle span {
  font-family: var(--second-font);
  color: var(--title-color);
  font-size: var(--h3-font-size);
  text-transform: capitalize;
  margin-left: 10px;
}

.swiper-wrapper {
  margin-bottom: 52px;
}
